.overview-box
{
	color: #525c65;
	text-align: right;
}

.overview-box-count
{
	font-size: 36px;
	font-weight: bold;
}

.overview-box-name
{
	font-size: 16px;
	display: inline-block;
	width: 100%;
}

.overview-box-rate
{
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	padding: 2px 4px;
	background-color: #9fd037;
	font-weight: bold;
	color: #ffffff;
	display: inline-block;
	margin-top: 4px;
}
.overview-box-image
{
	text-align: center;
}

