<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-5.0.dtd">

<hibernate-configuration>
<session-factory>
	<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
	
	
<!-- 		<property name="connection.datasource">java:/comp/env/jdbc/tkadmin</property> -->
	
	<property name="hibernate.connection.url">jdbc:mysql://192.168.64.2:3306/tkadmin</property>
	<property name="hibernate.connection.username">tkadmin</property>
	<property name="hibernate.connection.password">tkadmin</property>
	
	
	
	<property name="hibernate.connection.pool_size">10</property>

		<property name="hibernate.show_sql">true</property>
<!-- 		<property name="hibernate.format_sql">true</property> -->
		<property name="hibernate.hbm2ddl.auto">update</property> 	

	<property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>
	<property name="hibernate.current_session_context_class">thread</property>
	
	
	<mapping class="io.ticketcoin.dashboard.persistence.model.Address" />
	<mapping class="io.ticketcoin.dashboard.persistence.model.Artist" />
	<mapping class="io.ticketcoin.dashboard.persistence.model.ClosingDate" />
	<mapping class="io.ticketcoin.dashboard.persistence.model.Event" />
	<mapping class="io.ticketcoin.dashboard.persistence.model.LegacyTicketCode" />
	<mapping class="io.ticketcoin.dashboard.persistence.model.Location" />
	<mapping class="io.ticketcoin.dashboard.persistence.model.Organization" />
	<mapping class="io.ticketcoin.dashboard.persistence.model.Role" />
	<mapping class="io.ticketcoin.dashboard.persistence.model.Ticket" />
	<mapping class="io.ticketcoin.dashboard.persistence.model.TicketCategory" />
	<mapping class="io.ticketcoin.dashboard.persistence.model.User" />
	<mapping class="io.ticketcoin.dashboard.persistence.model.FileAttachment" />



</session-factory>
</hibernate-configuration>