<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-5.0.dtd">

<hibernate-configuration>
<session-factory>
	<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
	
	
<!-- 		<property name="connection.datasource">java:/comp/env/jdbc/tkadmin</property> -->
	
	
	  <!-- standalone -->
	  <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
	  <property name="connection.url">jdbc:mysql://aa1firr4c1ljrg6.cnyt2n8xtrwa.eu-west-3.rds.amazonaws.com:3306/ebdb</property>
	  <property name="connection.username">ticketcoin</property>
	  <property name="connection.password">ticketcoin</property>
	   
   	
	<property name="hibernate.c3p0.validate">true</property>
	<property name="hibernate.c3p0.min_size">3</property>
	<property name="hibernate.c3p0.max_size">20</property>
	<property name="hibernate.c3p0.timeout">300</property>
	<property name="hibernate.c3p0.max_statements">50</property>
	<property name="hibernate.c3p0.preferredTestQuery">SELECT 1;</property> 
	<property name="hibernate.c3p0.testConnectionOnCheckout">true</property>




<!-- 		<property name="hibernate.show_sql">true</property> -->
<!-- 		<property name="hibernate.format_sql">true</property> -->
		<property name="hibernate.hbm2ddl.auto">update</property> 	

	<property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>
	<property name="hibernate.current_session_context_class">thread</property>
	
	
	<mapping class="io.ticketcoin.dashboard.persistence.model.Address" />
	<mapping class="io.ticketcoin.dashboard.persistence.model.Artist" />
	<mapping class="io.ticketcoin.dashboard.persistence.model.ClosingDate" />
	<mapping class="io.ticketcoin.dashboard.persistence.model.Event" />
	<mapping class="io.ticketcoin.dashboard.persistence.model.LegacyTicketCode" />
	<mapping class="io.ticketcoin.dashboard.persistence.model.Location" />
	<mapping class="io.ticketcoin.dashboard.persistence.model.Organization" />
	<mapping class="io.ticketcoin.dashboard.persistence.model.Role" />
	<mapping class="io.ticketcoin.dashboard.persistence.model.Ticket" />
	<mapping class="io.ticketcoin.dashboard.persistence.model.TicketCategory" />
	<mapping class="io.ticketcoin.dashboard.persistence.model.TicketCategoryDetail" />
	<mapping class="io.ticketcoin.dashboard.persistence.model.User" />
	<mapping class="io.ticketcoin.dashboard.persistence.model.UserDocument" />
	<mapping class="io.ticketcoin.dashboard.persistence.model.FileAttachment" />
	<mapping class="io.ticketcoin.dashboard.persistence.model.PurchaseOrder" />
	<mapping class="io.ticketcoin.dashboard.persistence.model.PurchaseOrderDetail" />
	<mapping class="io.ticketcoin.dashboard.persistence.model.Wallet" />
	
	
	<mapping class="io.ticketcoin.rest.integration.stripe.model.StripeChargeRequest" />
	<mapping class="io.ticketcoin.rest.integration.stripe.model.StripeChargeResponse" />
	



</session-factory>
</hibernate-configuration>