<?xml version="1.0" encoding="UTF-8"?>
<beans 
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jaxrs="http://cxf.apache.org/jaxrs"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="	http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd 
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context.xsd 
	http://cxf.apache.org/jaxrs 
	http://cxf.apache.org/schemas/jaxrs.xsd
	http://www.springframework.org/schema/util
	http://www.springframework.org/schema/util/spring-util.xsd">
	
	
       
  
  <!-- implements OAuthDataProvider -->
	<bean id="oauthProvider" class="io.ticketcoin.oauth.provider.TkAminOAuthDataProvider"/>
	 
	
	      
	<bean id="accessTokenService" class="org.apache.cxf.rs.security.oauth2.services.AccessTokenService">
	  <property name="dataProvider" ref="oauthProvider"/>
	  <property name="grantHandlers" ref="grantHandlers"/>
	</bean>
	 
	 
	 
	 
	<jaxrs:server id="oauthServer" address="/oauth">
	   <jaxrs:serviceBeans>
	      <ref bean="accessTokenService"/>
	  </jaxrs:serviceBeans>
	  <jaxrs:providers>
		  <bean class="org.apache.cxf.rs.security.oauth2.provider.OAuthJSONProvider" />
    	  </jaxrs:providers>
	</jaxrs:server>

  <bean id="eventServiceBean" class="io.ticketcoin.dashboard.rest.EventRestService" />
  <bean id="imageServiceBean" class="io.ticketcoin.dashboard.rest.ImageRestService" />
  <bean id="userServiceBean" class="io.ticketcoin.dashboard.rest.UserRestService" />
  
  



     <bean id="oAuthFilter" class="org.apache.cxf.rs.security.oauth2.filters.OAuthRequestFilter">
         <property name="dataProvider" ref="oauthProvider"/>
     </bean>
     
 
	  <jaxrs:server id="secureResourceServer" address="/secure"  >
	    <jaxrs:serviceBeans>
	      <ref bean="eventServiceBean" />
	      <ref bean="imageServiceBean" />
	      <ref bean="userServiceBean" />
	    </jaxrs:serviceBeans>
	    <jaxrs:providers>
	    	  <bean class="org.apache.cxf.rs.security.oauth2.provider.OAuthContextProvider"/>
	       <ref bean="oAuthFilter"/>
	    </jaxrs:providers>
	  </jaxrs:server>
	  
	  
	  	  <jaxrs:server id="unsecureResourceServer" address="/unsecure"  >
	    <jaxrs:serviceBeans>
	      <ref bean="eventServiceBean" />
	      <ref bean="imageServiceBean" />
	      <ref bean="userServiceBean" />
	    </jaxrs:serviceBeans>
	  </jaxrs:server>
  
  
  
  	<bean id="refreshTokenHandler" class="org.apache.cxf.rs.security.oauth2.grants.refresh.RefreshTokenGrantHandler">
        <property name="dataProvider" ref="oauthProvider"/>
    </bean>
    
    <bean id="clientCredsHandler" class="org.apache.cxf.rs.security.oauth2.grants.clientcred.ClientCredentialsGrantHandler">
        <property name="dataProvider" ref="oauthProvider"/>
    </bean>
        
    <util:list id="grantHandlers">
        <ref bean="clientCredsHandler"/>
    </util:list>
    
  
 

  

</beans>